[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
streamlit = "*"
scikit-image = "*"
torchvision = "*"
joblib = "*"
scikit-learn = "*"
albumentations = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
